<div class="modal fade" id="editModal-{{ vinculo.pk }}" tabindex="-1" aria-labelledby="editModalLabel-{{ vinculo.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel-{{ vinculo.pk }}">Editar vinculo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" data-tipo-produto-modal-body data-row-id="{{ vinculo.pk }}">
        {% include "components/_form.html" with form=form form_action=update_url %}
      </div>
    </div>
  </div>
</div>
