<div class="modal fade" id="editModal-{{ ghe.pk }}" tabindex="-1" aria-labelledby="editModalLabel-{{ ghe.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel-{{ ghe.pk }}">Editar GHE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" data-ghe-modal-body data-row-id="{{ ghe.pk }}">
        {% include "components/_form.html" with form=form form_action=update_url %}
      </div>
    </div>
  </div>
</div>
