<div class="modal fade" id="editModal-{{ periodicidade.pk }}" tabindex="-1" aria-labelledby="editModalLabel-{{ periodicidade.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel-{{ periodicidade.pk }}">Editar periodicidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" data-periodicidade-modal-body data-row-id="{{ periodicidade.pk }}">
        {% include "components/_form.html" with form=form form_action=update_url %}
      </div>
    </div>
  </div>
</div>
