{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% include "components/_alerts.html" %}
  {% include "components/_page_header.html" with title=title subtitle=subtitle create_url=create_url %}
  {% if filters %}
    {% include "components/_filters.html" with filters=filters %}
  {% endif %}
  {% include "components/_table_crud.html" with headers=headers row_fields=row_fields object_list=object_list %}
  {% include "components/_pagination.html" with page_obj=page_obj %}

  {% if create_form %}
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Novo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            {% include "acessos/_terceiro_form.html" with form=create_form form_action=create_url %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% for row in edit_rows %}
    <div class="modal fade" id="editModal-{{ row.object.pk }}" tabindex="-1" aria-labelledby="editModalLabel-{{ row.object.pk }}" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel-{{ row.object.pk }}">Editar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            {% include "acessos/_terceiro_form.html" with form=row.form form_action=row.update_url %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

